etc/schema/fre.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xi="http://www.w3.org/2003/XInclude">
  <xs:import namespace="http://www.w3.org/2003/XInclude" schemaLocation="xi.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:include schemaLocation="postprocessing.xsd"/>
  <xs:element name="experimentSuite">
    <xs:annotation>
      <xs:documentation>The "experimentSuite" tag is the root element and should contain the "setup" tag as well as all of your experiments. The name attribute is not required and the rtsVersion specifies the version of the schema.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="xi:include"/>
          <xs:element ref="property"/>
          <xs:element ref="setup"/>
          <xs:element ref="user"/>
          <xs:element ref="institution"/>
          <xs:element ref="freInclude"/>
          <xs:element ref="experiment"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="rtsVersion" use="required" type="RtsVersion"/>
    </xs:complexType>
    <xs:unique name="unique_experiment">
      <xs:selector xpath="experiment"/>
      <xs:field xpath="@name"/>
    </xs:unique>
    <xs:unique name="unique_freInclude">
      <xs:selector xpath="freInclude"/>
      <xs:field xpath="@name"/>
    </xs:unique>
  </xs:element>

  <xs:simpleType name="fmsBoolean">
    <xs:annotation>
      <xs:documentation>A generice on/off/true/false/yes/no switch</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[Oo][Nn]"/>
      <xs:pattern value="[Oo][Ff][Ff]"/>
      <xs:pattern value="[Tt][Rr][Uu][Ee]"/>
      <xs:pattern value="[Ff][Aa][Ll][Ss][Ee]"/>
      <xs:pattern value="[Yy][Ee][Ss]"/>
      <xs:pattern value="[Nn][Oo]"/>
      <xs:pattern value="$(\S+)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="user">
    <xs:annotation>
      <xs:documentation>Used by the curator tools to specify user information.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="login" use="required" type="xs:string"/>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="email" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="institution">
    <xs:annotation>
      <xs:documentation>Used by the curator tools to specify institution information.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="address" use="required" type="xs:string"/>
      <xs:attribute name="url" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="freInclude">
    <xs:annotation>
      <xs:documentation>The freInclude tag that will allow users to have a different tag than experiment to include experiment data </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:any processContents="skip" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="experiment">
    <xs:annotation>
      <xs:documentation>The experiment tag holds all of the details about an experiment, including: source code locations, compiler flags, components to process, and input file locations. Each experiment must be given a unique name.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element name="publicMetadata"/>
	<xs:element name="description"/>
        <xs:element name="component">
          <xs:annotation>
            <xs:documentation>An experiments component defines the SCM repository URL through which the component may be acquired. The 'requires' attribute lists dependencies for that component. The 'paths' attribute lists the directory that will be searched after aquring the component from the SCM repository.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="description" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>A description of the component.</xs:documentation>
                </xs:annotation>
                <xs:complexType mixed="true">
                  <xs:attribute name="communityGrid" type="xs:string"/>
                  <xs:attribute name="communityName" type="xs:string"/>
                  <xs:attribute name="communityVersion" type="xs:string"/>
                  <xs:attribute name="domainName" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="source">
		<xs:annotation>
		  <xs:documentation>Contains information about the location of the source files.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
		  <xs:sequence>
		    <xs:element ref="codeBase"/>
		    <xs:element minOccurs="0" ref="csh"/>
		  </xs:sequence>
		  <xs:attribute name="root" type="xs:string"/>
		  <xs:attribute name="versionControl" type="xs:string"/>
		</xs:complexType>
	      </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="compile"/>
              <xs:element minOccurs="0" ref="library"/>
            </xs:choice>
            <xs:attribute name="includeDir" type="xs:string"/>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="paths" type="xs:string"/>
            <xs:attribute name="requires" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="executable"/>
        <xs:element ref="input"/>
        <xs:element ref="postProcess"/>
        <xs:element ref="runtime"/>
      </xs:choice>
      <xs:attribute name="inherit" type="xs:string"/>
      <xs:attribute name="name" use="required" type="experimentName"/>
      <xs:attribute name="modelClass" use="optional" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="experimentName">
    <xs:annotation>
      <xs:documentation>Restricts the options for experiment names.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[^+]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="executable">
    <xs:annotation>
      <xs:documentation>A pointer to the experiment executable file. This is not a required tag.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="file" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="input">
    <xs:annotation>
      <xs:documentation>A container tag for all the input files for an experiment (notably, the namelist files and definitions).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="initCond"/>
        <xs:element ref="gridSpec"/>
        <xs:element ref="csh"/>
        <xs:element ref="dataFile"/>
        <xs:element ref="dataTable"/>
        <xs:element ref="diagTable"/>
        <xs:element ref="fieldTable"/>
        <xs:element ref="namelist"/>
        <xs:element ref="fmsDataSets"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="initCond">
    <xs:annotation>
      <xs:documentation>Directly define an initial conditions file's location.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="file" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="fmsDataSets">
    <xs:annotation>
      <xs:documentation>List of fmsDataSets.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="gridSpec">
    <xs:annotation>
      <xs:documentation>Directly define a gridspec file's location.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="file" use="required" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="dataTable">
    <xs:annotation>
      <xs:documentation>Data tables hold input configuration details.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="order" type="xs:string" fixed="append"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="diagTable">
    <xs:annotation>
      <xs:documentation>Diagnostic tables hold input configuration details.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="file" type="xs:string"/>
      <xs:attribute name="order" type="xs:string" fixed="append"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="fieldTable">
    <xs:annotation>
      <xs:documentation>Field tables hold input configuration details.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="order" type="xs:string" fixed="append"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="namelist">
    <xs:annotation>
      <xs:documentation>Namelists are fortran files that consist of simple name and value pairs. They are used to define configuration options in the model.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="file" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="override" type="fmsBoolean"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="runtime">
    <xs:annotation>
      <xs:documentation>The runtime tag holds production and regression run details.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="dataFile"/>
          <xs:element ref="production"/>
          <xs:element ref="reference"/>
          <xs:element ref="regression"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="csh"/>
      </xs:sequence>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="production">
    <xs:annotation>
      <xs:documentation>This tag defines the simulation time (in the specified units), the number of cores to use, and the total runtime for the run.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="segment"/>
        <xs:element ref="resources"/>
        <xs:element ref="xi:include"/>
      </xs:choice>
      <xs:attribute name="ocean_layout" type="xs:string"/>
      <xs:attribute name="overrideParams" type="xs:string"/>
      <xs:attribute name="simTime" use="required" type="xs:string"/>
      <xs:attribute name="units" use="required" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="segment">
    <xs:annotation>
      <xs:documentation>Runs are broken into segments because running a full production run would take too many system resources (notably, wall clock time). Segments define their own simulation time (and units), as well as their own run time. The run time defined in the production tag will be used over the run time defined in the segment tag.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="simTime" use="required" type="xs:integer"/>
      <xs:attribute name="units" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="resources">
    <xs:annotation>
      <xs:documentation>This tag contains all of the information for configuring the processor layout specific to a machine. Multiple resources tags are allowed, but the site attribute should be unique.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="4">
        <xs:element ref="atm"/>
        <xs:element ref="ocn"/>
        <xs:element ref="lnd"/>
        <xs:element ref="ice"/>
      </xs:choice>
      <xs:attribute name="site" use="optional" type="xs:string"/>
      <xs:attribute name="jobWallclock" use="optional" type="xs:string"/>
      <xs:attribute name="segRuntime" use="optional" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
    <xs:unique name="unique_site">
      <xs:selector xpath="resources"/>
      <xs:field xpath="@name"/>
    </xs:unique>
  </xs:element>

  <xs:element name="atm">
    <xs:annotation>
      <xs:documentation>This tag contains all of the layout information for the atmosphere.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ranks" use="required" type="intORproperty"/>
      <xs:attribute name="threads" use="required" type="intORproperty"/>
      <xs:attribute name="hyperthread" use="optional" type="fmsBoolean"/>
      <xs:attribute name="layout" use="optional" type="freLayout"/>
      <xs:attribute name="io_layout" use="optional" type="freLayout"/>
      <xs:attribute name="mask_table" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ocn">
    <xs:annotation>
      <xs:documentation>This tag contains all of the layout information for the ocean.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ranks" use="required" type="intORproperty"/>
      <xs:attribute name="threads" use="required" type="intORproperty"/>
      <xs:attribute name="hyperthread" use="optional" type="fmsBoolean"/>
      <xs:attribute name="layout" use="optional" type="freLayout"/>
      <xs:attribute name="io_layout" use="optional" type="freLayout"/>
      <xs:attribute name="mask_table" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="lnd">
    <xs:annotation>
      <xs:documentation>This tag contains all of the layout information for the land.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ranks" use="optional" type="intORproperty"/>
      <xs:attribute name="threads" use="optional" type="intORproperty"/>
      <xs:attribute name="hyperthread" use="optional" type="fmsBoolean"/>
      <xs:attribute name="layout" use="optional" type="freLayout"/>
      <xs:attribute name="io_layout" use="optional" type="freLayout"/>
      <xs:attribute name="mask_table" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ice">
    <xs:annotation>
      <xs:documentation>This tag contains all of the layout information for the ice.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ranks" use="optional" type="intORproperty"/>
      <xs:attribute name="threads" use="optional" type="intORproperty"/>
      <xs:attribute name="hyperthread" use="optional" type="fmsBoolean"/>
      <xs:attribute name="layout" use="optional" type="freLayout"/>
      <xs:attribute name="io_layout" use="optional" type="freLayout"/>
      <xs:attribute name="mask_table" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="intORproperty">
    <xs:annotation>
      <xs:documentation>Restricts the possible options to a integer or a property.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="$(\S+)"/>
      <xs:pattern value="[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="freLayout">
    <xs:annotation>
      <xs:documentation>Restricts the possible options to a N+,N+ format or a property.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="$(\S+)"/>
      <xs:pattern value="[0-9]+,[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="peLayout">
    <xs:annotation>
      <xs:documentation>This tag overrides parameters set in the namelist files. Avoid using if possible.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ocean" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="reference">
    <xs:annotation>
      <xs:documentation>This tag can define the path to a restart file for an optimized reference run.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="restart" use="required" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="regression">
    <xs:annotation>
      <xs:documentation>This tag defines regression test runs.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="run"/>
      </xs:sequence>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="run">
    <xs:annotation>
      <xs:documentation>A regression run frequency, number of cores, run time per job, and optional namelist override parameters are specified in this tag.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="resources"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="xi:include"/>
      </xs:sequence>
      <xs:attribute name="days" type="xs:string"/>
      <xs:attribute name="hours" type="xs:string"/>
      <xs:attribute name="months" type="xs:string"/>
      <xs:attribute name="overrideParams" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="setup">
    <xs:annotation>
      <xs:documentation>The setup tag contains the system dependent platform tags.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="fmsRelease"/>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="platform"/>
      </xs:sequence>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="fmsRelease" type="xs:string">
    <xs:annotation>
      <xs:documentation>Specifies which fms release was used to generate the data.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="platform">
    <xs:annotation>
      <xs:documentation>The platform tag defines system dependent commands, paths, and substitutions that will be used in the rest of your XML.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="compiler" minOccurs="0"/>
        <xs:element ref="freVersion" minOccurs="1"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="compiler"/>
          <xs:element ref="csh"/>
          <xs:element ref="property"/>
          <xs:element ref="directory"/>
          <xs:element ref="project"/>
          <xs:element ref="xi:include"/>
          <xs:element ref="mkmfTemplate"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="directory">
    <xs:annotation>
      <xs:documentation>Contains a list of directories.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="root"/>
        <xs:element ref="src"/>
        <xs:element ref="exec"/>
        <xs:element ref="scripts"/>
        <xs:element ref="stdout"/>
        <xs:element ref="stdoutTmp"/>
        <xs:element ref="state"/>
        <xs:element ref="work"/>
        <xs:element ref="ptmp"/>
        <xs:element ref="stmp"/>
        <xs:element ref="archive"/>
        <xs:element ref="tmp"/>
        <xs:element ref="include"/>
        <xs:element name="postProcess" type="xs:string">
          <xs:annotation>
            <xs:documentation>Defines the path to the post-processing directory.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="analysis" type="xs:string">
          <xs:annotation>
            <xs:documentation>Defines the path to the analysis directory.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:attribute name="stem" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="archive" type="xs:string">
    <xs:annotation>
      <xs:documentation>Defines the path to the platforms long term storage.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="scripts" type="xs:string">
    <xs:annotation>
      <xs:documentation>Defines a path to the scripts directory.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="state" type="xs:string">
    <xs:annotation>
      <xs:documentation>Defines a path for saving the state files (used for checkpointing in FRE).</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="root" type="xs:string">
    <xs:annotation>
      <xs:documentation>A prefix for other directory names.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="src" type="xs:string">
    <xs:annotation>
      <xs:documentation>Directory for source files.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="exec" type="xs:string">
    <xs:annotation>
      <xs:documentation>Directory for compiled executables and libraries.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="stdoutTmp" type="xs:string">
    <xs:annotation>
      <xs:documentation>Temporary directory for model standard output (gaea only).</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="stdout" type="xs:string">
    <xs:annotation>
      <xs:documentation>Defines the path for saving standard output from FRE.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="work" type="xs:string">
    <xs:annotation>
      <xs:documentation>Defines the path for model working files.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="ptmp" type="xs:string">
    <xs:annotation>
      <xs:documentation>Cached directory between the working directory and the archive.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="stmp" type="xs:string">
    <xs:annotation>
      <xs:documentation>Cached directory for post-processed files.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="tmp" type="xs:string">
    <xs:annotation>
      <xs:documentation>Appears to be a theia-specific scratch dir.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="include" type="xs:string">
    <xs:annotation>
      <xs:documentation>Experiment include directory for namelists, diag tables, and friends</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="project" type="xs:string">
    <xs:annotation>
      <xs:documentation>This tag defines the user's project for accounting purposes. It can be used by a job scheduler for allocation purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="freVersion">
    <xs:annotation>
      <xs:documentation>The version of FRE that a user wishes to run / postProcess with for a given platform</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="compiler">
    <xs:annotation>
      <xs:documentation>This tag allows the user to specify the compiler and version they wish to run with </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="type" use="required" type="compilerType"/>
      <xs:attribute name="version" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="compilerType">
    <xs:annotation>
      <xs:documentation>Restricts the possible values for the compiler type.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="intel"/>
      <xs:enumeration value="pgi"/>
      <xs:enumeration value="gnu"/>
      <xs:enumeration value="cce"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="mkmfTemplate">
    <xs:annotation>
      <xs:documentation>Mkmf is a tool that creates a makefile that can be run to easily compile various tools. FRE contains a template for this utility, but the ability to override the template is provide in this tag.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="file" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="property">
    <xs:annotation>
      <xs:documentation>Allows simple substitutions of "name"s for "value"s within your XML.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="dataFile">
    <xs:annotation>
      <xs:documentation>Each input file that is needed for the model run must be defined in a dataFile tag. The file is given a label to define the type of file it is, a target that defines where the file will be transferred to, and file attributes that may be used by FRE in the future to ensure successful transfers (checksum, timestamp, and file size).</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dataSource"/>
      </xs:sequence>
      <xs:attribute name="chksum" type="xs:string"/>
      <xs:attribute name="label" use="required" type="xs:string"/>
      <xs:attribute name="size" type="xs:string"/>
      <xs:attribute name="target" type="xs:string"/>
      <xs:attribute name="timestamp" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="dataSource">
    <xs:annotation>
      <xs:documentation>A data source is the platform specific location for the file being described by the data file tag. If the simulation is run on multiple platforms, multiple data source tags can be used to specify the various locations of the needed file.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="platform" type="xs:string"/>
      <xs:attribute name="site" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="csh">
    <xs:annotation>
      <xs:documentation>Csh tags allow for shell commands to be run before specific phases in the FRE workflow.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="null">
    <xs:annotation>
      <xs:documentation>Placeholder tag that may be replaced by a real tag in some later modification to the experiment XML.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="codeBase">
    <xs:annotation>
      <xs:documentation>Defines the branch name and SCM repository URL for the source files.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="version" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="compile">
    <xs:annotation>
      <xs:documentation>Contains the compiler options tag.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="srcList" minOccurs="0"/>
        <xs:element ref="csh" minOccurs="0"/>
        <xs:element ref="cppDefs" minOccurs="0"/>
        <xs:element ref="makeOverrides" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="target" type="xs:string"/>
      <xs:attribute name="doF90Cpp" type="fmsBoolean"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="srcList" type="xs:string">
    <xs:annotation>
      <xs:documentation>Identifies additional source files for use in FRE.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="cppDefs" type="xs:string">
    <xs:annotation>
      <xs:documentation>Compiler options are specified in this tag.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="makeOverrides" type="xs:string">
    <xs:annotation>
      <xs:documentation>Override compiler options.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="library">
    <xs:annotation>
      <xs:documentation>Defines library and header paths for the components.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="headerDir" use="required" type="xs:string"/>
      <xs:attribute name="path" type="xs:string"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="RtsVersion">
    <xs:annotation>
      <xs:documentation>Restricts the valid values for the schema version (the terminology 'rtsVersion' no longer means what it once did -- it is now simply the schema version).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="4"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
