etc/schema/xi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2003/XInclude" xmlns:xi="http://www.w3.org/2003/XInclude">
  <xs:import schemaLocation="fre.xsd"/>
  <xs:element name="include">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="xi:fallback"/>
      </xs:sequence>
      <xs:attribute name="href"/>
      <xs:attribute name="xpointer" />
    </xs:complexType>
  </xs:element>
  <xs:element name="fallback">
    <xs:complexType/>
  </xs:element>
</xs:schema>
